<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>DVSwitch Mode Switcher</title>
</head>
<body>
<%- include('partials/header') %>
<div class="container">
    <div id="message-banner" class="alert info" role="alert" style="display: none;"></div>
    <div class="mt-4">
        <h4>Switch Mode</h4>
        <form id="mode-form">
            <div class="form-group">
                <label for="mode">Mode</label>
                <select class="form-control" id="mode" onchange="updateTalkgroups()">
                    <option value="">Select a mode</option>
                    <% modes.forEach(mode => { %>
                        <option value="<%= mode.name %>"><%= mode.name %></option>
                    <% }) %>
                </select>
            </div>
        </form>
    </div>
    <div class="mt-4">
        <h4>Switch Talkgroup</h4>
        <form id="talkgroup-form">
            <div class="form-group">
                <label for="talkgroup">Talkgroup</label>
                <select class="form-control mb-2" id="talkgroup">
                    <!-- Dynamically populated talkgroup options -->
                </select>
                <input 
                    type="number" 
                    class="form-control" 
                    id="manual-talkgroup" 
                    placeholder="Enter Talkgroup Number" 
                    aria-label="Manual Talkgroup Entry">
            </div>
            <button type="submit" class="btn btn-primary">Switch Talkgroup</button>
        </form>
    </div>
    

<script src="/js/theme-toggle.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
